.about-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0rem;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.about h1{
  margin-bottom: 2rem;
}
.about p{
  margin-bottom: 2rem;
}
.about p span{
  font-weight: 600;
}
/* on desktop... */
@media only screen and (min-width: 768px) {
  .about{
    /* center the text with 100vh and negative margin for the navbar */
    height: 100vh;
    margin-top: -35.5px;
  }
}