.tutoring-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0rem;
}
.tutoring{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  margin-top: 2rem;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.tutoring h1{
  margin-bottom: 2rem;
}
.tutoring p{
  margin-bottom: 2rem;
}
.tutoring p span{
  font-weight: 600;
}
.page-links{
  text-decoration: none;
  color: inherit;
}
.page-links span{
  display: inline-block;
  background-color: #e7d5efaa;
  transition: 0.3s;
  margin-left: -3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top:1px;
  margin-bottom: 2rem;
}
.page-links span:hover{
  cursor: pointer;
  background-color: #e7d5ef;
  transition: 0.3s;
  transform: scale(1.1);
}
/* on desktop... */
@media only screen and (min-width: 768px) {
  .tutoring{
    /* center the text with 100vh and negative margin for the navbar */
    height: 100vh;
    margin-top: -35.5px;
  }
}