.photography-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 0rem;
}
.photography{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80vw;
  margin-top: 2rem;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.photography h1{
  margin-bottom: 2rem;
}
.photography p{
  font-size: 14px;
}
.photography img{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.photo-info{
  display: flex;
  max-width: 35rem;
  justify-content: space-between;
}
.info-make-model{
  display: flex;
  flex-direction: column;
}
.info-shot{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.photography .page-links{
  margin-top: -1.6rem;
  margin-bottom: -1.6rem;
}

/* on desktop... */
@media only screen and (min-width: 768px) {
  /* only need to fit width on desktop for this page */
  /* large font as well */
  .photography{
    max-width: 35rem;
  }
  .photography p{
    font-size: 16px;
  }
}