.navbar{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
  z-index: 1;
}
.navbar p{
  padding-left: 2rem;
}
.navbar span{
  display: block;
  background-color: transparent;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  transition: 0.3s;
}
.navbar span:hover{
  cursor: pointer;
  background-color: #e7d5ef;
  transition: 0.3s;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
}

.menu-links{
  padding-right: 2rem;
  text-decoration: none;
  color: inherit;
}